<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  
  <title>Criar Novo Produto</title>
</head>
<body>
  <h1>Criar Novo Produto</h1>
  <form action="/products/create" method="POST">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="available_status">Disponibilidade:</label>
    <input type="checkbox" id="available_status" name="available_status">
    <br>
    <label for="destination">Destinação:</label>
    <textarea id="destination" name="destination" required></textarea>
    <br>
    <label for="profitability_rate">Taxa de Rentabilidade:</label>
    <input type="number" id="profitability_rate" name="profitability_rate" required min="1" max="20">
    <br>
    <label for="minimum_deadline">Prazo Mínimo:</label>
    <input type="number" id="minimum_deadline" name="minimum_deadline" required min="0" max="48">
    <br>
    <label for="administration_rate">Taxa de Administração:</label>
    <input type="number" id="administration_rate" name="administration_rate" required min="0" max="100">
    <br>
    <button type="submit">Criar Produto</button>
  </form>
  <a href="/products">Voltar para a Lista</a>
</body>
</html>
