{{#> base}}
    {{#*inline 'title'}}Adicionar Produto{{/inline}}

    {{#*inline 'mainContent'}}
      <h1>Novo Produto</h1>
      <form action="/products/create" method="POST">
        <div class="mb-3">
          <label class="form-label" for="name">Nome:</label>
          <input class="form-control" type="text" id="name" name="name" required>
        </div>

        <div class="mb-3">
          <label class="form-check-label" for="available_status">Disponível?</label>
          <input class="form-check-input" type="checkbox" id="available_status" name="available_status">
        </div>

        <div class="mb-3">
          <label class="form-label" for="destination">Destinação:</label>
          <textarea class="form-control" id="destination" name="destination" required></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="profitability_rate">Taxa de Rentabilidade:</label>
          <input class="form-control" type="number" id="profitability_rate" name="profitability_rate" required min="1" max="20">
        </div>

        <div class="mb-3">
          <label class="form-label" for="minimum_deadline">Prazo Mínimo:</label>
          <input class="form-control" type="number" id="minimum_deadline" name="minimum_deadline" required min="0" max="48">
        </div>

        <div class="mb-3">
          <label class="form-label" for="administration_rate">Taxa de Administração:</label>
          <input class="form-control" type="number" id="administration_rate" name="administration_rate" required min="0" max="100">
        </div>

        <button type="submit" class="btn btn-success">Criar Produto</button>
      </form>
      <a href="/products">Voltar para a Lista</a>
    {{/inline}}
{{/base}}