{{#> base}}
    {{#*inline 'title'}}Projeto Rosa{{/inline}}

    {{#*inline 'mainContent'}}
        <h1>Hello World!</h1>

        <p>Olá seja bem vindo ao Projeto Rosa.</p>

        <p>Ir para Lista de Produtos</p>
        <a href="/products">Lista de Produtos</a>
    {{/inline}}
{{/base}}